name: 'Terraform'

on:
  push:
    branches: [ "main" ]
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  terraform:
    name: 'Terraform'
    runs-on: ubuntu-latest
    environment: production

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}
          
    - name: Checkout
      uses: actions/checkout@v3

    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.4.6
        
    - name: Terraform fmt
      id: fmt
      run: terraform fmt -check
      continue-on-error: true

    - name: Terraform Init
      id: init
      run: terraform init

    - name: Terraform Validate
      id: validate
      run: terraform validate

    - name: Terraform Plan
      id: plan
      continue-on-error: true
      run: |
        terraform plan -input=false -no-color -out=tfplan \
        && terraform show -no-color tfplan          

    - name: Plan Summary
      id: summary
      run: |
        echo '# Terraform will perform the following actions' >> $GITHUB_STEP_SUMMARY
        echo '| Resource | Action |' >> $GITHUB_STEP_SUMMARY
        echo '|----------|--------|' >> $GITHUB_STEP_SUMMARY
        terraform show -no-color tfplan | grep 'will be' | grep -v selected | awk '{print "|" $2 "|" $5 "|"}' >> $GITHUB_STEP_SUMMARY
        echo -n '# '  >> $GITHUB_STEP_SUMMARY
        terraform show -no-color tfplan | grep 'Plan:'  >> $GITHUB_STEP_SUMMARY

        #echo '${{ steps.plan.outputs.stdout || steps.plan.outputs.stderr }}' \
        #| grep -E '(#|Terraform will perform the following actions:|Plan:)' | sed -e 's/\#/-/' >> $GITHUB_STEP_SUMMARY
    
