name: Terraform

on:
  push:
  pull_request:
  workflow_dispatch:

permissions:
  contents: read

jobs:
  check:
    name: Check Configuration
    runs-on: ubuntu-latest
    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}
        
      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6

      - name: Terraform Init
        id: init
        run: terraform init

      - name: Terraform Validate
        id: validate
        run: |
          terraform validate
          if [ $? -ne 0 ];
          then
            echo "## :bangbang: Validation failed.  Check the logs" >> $GITHUB_STEP_SUMMARY
          else
            echo "## :white_check_mark: Success! The configuration is valid." >> $GITHUB_STEP_SUMMARY
          fi

  plan:
    needs: [check]
    name: Terraform Plan
    runs-on: ubuntu-latest
    environment: plan

    steps:
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ vars.AWS_REGION }}

      - name: Checkout
        uses: actions/checkout@v3

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.4.6
    
      - name: Terraform Plan
        continue-on-error: true
        id: plan
        run: terraform plan -input=false -no-color | tee plan.txt

      - name: Display the plan summary
        id: display
        run: |
          awk '
          /No changes. Your infrastructure matches the configuration./ {
            print "# Terraform will perform the following actions:" >> "'"$GITHUB_STEP_SUMMARY"'"
            print "| Action | Resource |" >> "'"$GITHUB_STEP_SUMMARY"'"
            print "|----------|---------|" >> "'"$GITHUB_STEP_SUMMARY"'"
            system("awk \x27!/::debug::stdout:/ && /will be/ {print \"|\" $5 \"|\" $2 \"|\"} \x27 plan.txt | sed -e \x27s/created/:white_check_mark: create/\x27 -e \x27s/destroyed/:bangbang: destroy/\x27 -e \x27s/replaced/:recycle: replace/\x27 >> "'"$GITHUB_STEP_SUMMARY"'")
            exit
          }
          {
            no_changes_msg = "# No changes.\nYour infrastructure matches the configuration.\nTerraform has compared your real infrastructure against your configuration and found no differences, so no changes are needed."
            print no_changes_msg >> "'"$GITHUB_STEP_SUMMARY"'"
            exit
          }' plan.txt
        
        
        

  apply:
    needs: [plan]
    if: github.ref == 'refs/heads/main' && github.event.pull_request.merged
    name: Terraform Apply
    runs-on: ubuntu-latest
    environment: apply

    steps:
    - name: Configure AWS Credentials
      uses: aws-actions/configure-aws-credentials@v2
      with:
        aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
        aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
        aws-region: ${{ vars.AWS_REGION }}
          
    - name: Checkout
      uses: actions/checkout@v3
      
    - name: Setup Terraform
      uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: 1.4.6

    - name: Terraform Init
      id: init
      run: terraform init

    - name: Terraform Apply
      run: terraform apply -auto-approve -input=false
